ML and Login/flows.json
[{"id":"bcbe5371.238dd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67f3d48c.4a250c","type":"tab","label":"Interpreter","disabled":false,"info":""},{"id":"ec4b977b.a12878","type":"tab","label":"Hello world","disabled":false,"info":""},{"id":"ec095654.44ff98","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"dc1b417.6827bc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"312b2a39.1e00f6","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":false,"info":""},{"id":"1f2fef0b.9d8491","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fe73efc5.6d44d","type":"ui_group","z":"","name":"Default","tab":"1f2fef0b.9d8491","order":1,"disp":true,"width":"6","collapse":false},{"id":"14f8f372.2e2f2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e9c891f1.bd753","type":"ui_spacer","name":"spacer","group":"fe73efc5.6d44d","order":3,"width":1,"height":1},{"id":"1765cae4.23d4f5","type":"ui_group","z":"","name":"PROJECTOR SCREEN INFO","tab":"","order":4,"disp":true,"width":"6"},{"id":"382e593.f78e7a6","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88176bd.4a0da98","type":"users_config","appPath":"/","jwtCookieName":"","jwtHttpsOnly":false},{"id":"c10bf1ce.8f00d","type":"ui_group","z":"","name":"Chat","tab":"3617b017.a036d","order":2,"disp":true,"width":"10","collapse":false},{"id":"fc777818.b34018","type":"ui_group","z":"","name":"Record","tab":"3617b017.a036d","order":1,"disp":true,"width":"6","collapse":false},{"id":"3617b017.a036d","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b86f27ba.c70c98","type":"http in","z":"bcbe5371.238dd","name":"HTTP Hello World","url":"/hw","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["f40e5ee0.d2e1"]]},{"id":"3c024cd8.532b54","type":"http response","z":"bcbe5371.238dd","name":"","statusCode":"","headers":{},"x":420,"y":240,"wires":[]},{"id":"f40e5ee0.d2e1","type":"template","z":"bcbe5371.238dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        <div>Hello to Watson on Node-RED</div>\n        <div id=\"id_hello\"><span>I think you are typing text in:</span>\n        &nbsp;\n        <span id=\"id_textlang\"></span></div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    Enter your text to be processed:  \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\" id=\"id_text\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n            </div>\n        </form>        \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n        </script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n              var LANGUAGES = { 'ar' : 'Arabic',\n                    'en': 'English' ,\n                    'es': 'Spanish',\n                    'fr': 'French',\n                    'it': 'Italian',\n                    'de': 'German',\n                    'pt': 'Portuguese',\n                    'ko': 'Korean',\n                    'zh': 'Chinese'\n                  };\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n           \n            function langLookup(isocode) {\n                return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n            }\n         function processOK(response) {\n                console.log(response);\n                if (response.identifyresponse){\n                    $('#id_textlang').text(langLookup(response.identifyresponse));\n                } else {\n                    $('#id_textlang').text('No response received from service');\n                }\n            }\n            function processNotOK() {\n                console.log('Error Processing');\n                $('#id_textlang').text('Oops something went wrong');\n            }           \n            function invokeAjax(message) {\n                console.log('AJAX about to be invoked.');\n                console.log(message);\n                var ajaxData = {};\n                ajaxData.msgdata = message;\n                $.ajax({\n                    type: 'POST',\n                    url: 'langidentify',\n                    data: ajaxData,\n                    success: processOK,\n                    error: processNotOK\n                });\n            }\n \n            function onSubmitClicked(event){\n                $('#id_hello').show();\n                event.preventDefault();\n                var txt = $('#id_text').val();\n                invokeAjax(txt);\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n        </script>       \n    </body>\n</html>","output":"str","x":280,"y":200,"wires":[["3c024cd8.532b54"]]},{"id":"3647c1fd.e9f07e","type":"http in","z":"bcbe5371.238dd","name":"HTTP REST Identify Language","url":"/langidentify","method":"post","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["5d002df5.2a38e4"]]},{"id":"f9259290.61155","type":"function","z":"bcbe5371.238dd","name":"Process Output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n      msg.payload.identifyresponse = msg.lang.language;\n\t  }\n\nreturn msg; ","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["cfa0d1b.aac593"]]},{"id":"cfa0d1b.aac593","type":"http response","z":"bcbe5371.238dd","name":"","statusCode":"","headers":{},"x":750,"y":320,"wires":[]},{"id":"4342a1e9.c9bec","type":"watson-language-translator-identify","z":"bcbe5371.238dd","name":"","service-endpoint":"","x":470,"y":320,"wires":[["f9259290.61155"]]},{"id":"5d002df5.2a38e4","type":"function","z":"bcbe5371.238dd","name":"Process input","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["4342a1e9.c9bec"]]},{"id":"ff0127b.ebdf3d8","type":"microphone","z":"67f3d48c.4a250c","name":"","x":140,"y":140,"wires":[["e3cf786b.fe0748"]]},{"id":"39d7df4c.efc88","type":"delay","z":"67f3d48c.4a250c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":40,"wires":[[]]},{"id":"905ddb4b.b5fba8","type":"play audio","z":"67f3d48c.4a250c","name":"","voice":"","x":820,"y":140,"wires":[]},{"id":"e3cf786b.fe0748","type":"watson-speech-to-text","z":"67f3d48c.4a250c","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":200,"y":180,"wires":[["7fb62d31.576554"]]},{"id":"7fb62d31.576554","type":"function","z":"67f3d48c.4a250c","name":"Prepare for translation","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["4eae10f0.de3e1"]]},{"id":"4eae10f0.de3e1","type":"watson-translator","z":"67f3d48c.4a250c","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":430,"y":280,"wires":[["dc6342e8.cdde1"]]},{"id":"dc6342e8.cdde1","type":"watson-text-to-speech","z":"67f3d48c.4a250c","name":"","lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"fr-FR_ReneeV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":560,"y":220,"wires":[["840c1db5.679ba"]]},{"id":"840c1db5.679ba","type":"function","z":"67f3d48c.4a250c","name":"Prepare for speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["905ddb4b.b5fba8"]]},{"id":"8011ba7f.ecf728","type":"inject","z":"ec4b977b.a12878","name":"","topic":"","payload":"Hello World Inject","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":280,"wires":[["42e07.a03bf1f94"]]},{"id":"efd079b1.6bbc08","type":"link in","z":"ec4b977b.a12878","name":"Translation Input","links":["42e07.a03bf1f94","6cdfbe3d.93e06"],"x":395,"y":320,"wires":[[]]},{"id":"42e07.a03bf1f94","type":"link out","z":"ec4b977b.a12878","name":"Hello String.","links":["efd079b1.6bbc08"],"x":375,"y":280,"wires":[]},{"id":"6cdfbe3d.93e06","type":"link out","z":"ec4b977b.a12878","name":"Goodbye String","links":["efd079b1.6bbc08"],"x":375,"y":380,"wires":[]},{"id":"2b982dd.c18f9d2","type":"inject","z":"ec4b977b.a12878","name":"Goodbye Inject","topic":"","payload":"It's time for me to go now.","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":380,"wires":[["6cdfbe3d.93e06"]]},{"id":"a200e2e3.4e894","type":"watson-translator","z":"ec4b977b.a12878","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":550,"y":320,"wires":[["ca77fb3a.467a58"]]},{"id":"ca77fb3a.467a58","type":"debug","z":"ec4b977b.a12878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"translation","targetType":"msg","x":600,"y":60,"wires":[]},{"id":"c4cbcfcc.9ad3b","type":"watson-conversation-v1","z":"ec4b977b.a12878","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":260,"y":160,"wires":[[]]},{"id":"3a2a544d.3a518c","type":"watson-conversation-v1-workspace-manager","z":"ec4b977b.a12878","name":"","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-service-endpoint":"","x":200,"y":40,"wires":[[]]},{"id":"1b6b567a.39f87a","type":"watson-assistant-v2","z":"ec4b977b.a12878","name":"","service-endpoint":"","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":120,"y":140,"wires":[[]]},{"id":"65002eb1.4026d","type":"twitter out","z":"ec095654.44ff98","twitter":"","name":"Tweet","x":1070,"y":260,"wires":[]},{"id":"96acd864.aba528","type":"inject","z":"ec095654.44ff98","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":186.0833396911621,"y":535.0834021568298,"wires":[["a3ec0057.b8065"]]},{"id":"445d6770.9f7328","type":"watson-conversation-v1","z":"ec095654.44ff98","name":"","workspaceid":"814c1895-fb50-4341-96cd-02eb090c8bdc","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bdde637d-e9cd-45e1-ba2c-adfb5cce791d/v1/workspaces/814c1895-fb50-4341-96cd-02eb090c8bdc/message","timeout":"","optout-learning":false,"x":658.9999923706055,"y":302.08337116241455,"wires":[["7555b0ec.06c84"]]},{"id":"78e9e354.b7807c","type":"watson-speech-to-text","z":"ec095654.44ff98","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":149.25,"y":304.3333568572998,"wires":[["26b9ca48.2a6436"]]},{"id":"7df8a483.1a854c","type":"watson-text-to-speech","z":"ec095654.44ff98","name":"","lang":"en-GB","langhidden":"en-GB","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":1099.0000019073486,"y":331.4167203903198,"wires":[["2c0f50ef.7017b"]]},{"id":"26b9ca48.2a6436","type":"function","z":"ec095654.44ff98","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["bcb13af1.c8b388"]]},{"id":"2c0f50ef.7017b","type":"function","z":"ec095654.44ff98","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1269.666753768921,"y":331.4167203903198,"wires":[["8a825700.df0f98"]]},{"id":"8a825700.df0f98","type":"play audio","z":"ec095654.44ff98","name":"","x":1429.0000476837158,"y":331.4167203903198,"wires":[]},{"id":"71c1a7af.282498","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.24999618530273,"y":116.08337688446045,"wires":[["b1265a59.26b838"]]},{"id":"8e1c86eb.2ffb68","type":"watson-conversation-v1","z":"ec095654.44ff98","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":535.3333129882812,"y":1545.7500295639038,"wires":[["3a8039c.d6271c6"]]},{"id":"9accd4ca.8847a8","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":126.33331298828125,"y":1463.7500295639038,"wires":[["179a4dff.07d102"]]},{"id":"725958cd.9fa7e8","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":126.83331298828125,"y":1500.7500295639038,"wires":[["179a4dff.07d102"]]},{"id":"179a4dff.07d102","type":"function","z":"ec095654.44ff98","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":297.83331298828125,"y":1499.7500295639038,"wires":[["8e1c86eb.2ffb68"]]},{"id":"38b6aebb.b25c22","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":125.33331298828125,"y":1584.7500295639038,"wires":[["918b29ee.52b108"]]},{"id":"5fcfaae2.66ecc4","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":125.83331298828125,"y":1620.7500295639038,"wires":[["918b29ee.52b108"]]},{"id":"918b29ee.52b108","type":"function","z":"ec095654.44ff98","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":296.83331298828125,"y":1619.7500295639038,"wires":[["8e1c86eb.2ffb68"]]},{"id":"3a8039c.d6271c6","type":"debug","z":"ec095654.44ff98","name":"","active":true,"console":"false","complete":"payload.output.text","x":754.3333129882812,"y":1545.7500295639038,"wires":[]},{"id":"32c0c342.947f7c","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":302.33331298828125,"y":1366.7500295639038,"wires":[["8e1c86eb.2ffb68"]]},{"id":"b7e15f0d.5b2d7","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":302.33331298828125,"y":1402.7500295639038,"wires":[["8e1c86eb.2ffb68"]]},{"id":"91c52e2a.381c8","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":173.83331298828125,"y":1714.7500295639038,"wires":[["454db4c7.8e5fec"]]},{"id":"454db4c7.8e5fec","type":"function","z":"ec095654.44ff98","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":318.83331298828125,"y":1714.7500295639038,"wires":[["8e1c86eb.2ffb68"]]},{"id":"85f30ea3.72092","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":126.83331298828125,"y":1536.7500295639038,"wires":[["179a4dff.07d102"]]},{"id":"77f5590.7b9fca8","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":125.33331298828125,"y":1656.7500295639038,"wires":[["918b29ee.52b108"]]},{"id":"7d5f5c00.2923c4","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":302.33331298828125,"y":1438.7500295639038,"wires":[["8e1c86eb.2ffb68"]]},{"id":"974a09db.3d2b38","type":"microphone","z":"ec095654.44ff98","name":"","x":138.5,"y":256.0833463668823,"wires":[["78e9e354.b7807c"]]},{"id":"2c801f8d.fdf0e","type":"inject","z":"ec095654.44ff98","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.24999618530273,"y":80.75003337860107,"wires":[["b1cde414.5d9168"]]},{"id":"b1cde414.5d9168","type":"function","z":"ec095654.44ff98","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":303.24999618530273,"y":80.7500410079956,"wires":[["b18bdf4d.248a1"]]},{"id":"b1265a59.26b838","type":"function","z":"ec095654.44ff98","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":303.0832939147949,"y":115.7500638961792,"wires":[["b18bdf4d.248a1"]]},{"id":"7555b0ec.06c84","type":"function","z":"ec095654.44ff98","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":863.1666488647461,"y":300.7500123977661,"wires":[["65002eb1.4026d"],["7df8a483.1a854c"]]},{"id":"bcb13af1.c8b388","type":"link out","z":"ec095654.44ff98","name":"gototone","links":["4ea3303.5ce80d","33060d75.4bade2"],"x":419.8030433654785,"y":350.5833616256714,"wires":[]},{"id":"bd21c4e9.cd3288","type":"link in","z":"ec095654.44ff98","name":"convIn","links":["9611f754.6fad18","b18bdf4d.248a1","63a9061a.4b8b78"],"x":537.9167411327362,"y":347.4166841506958,"wires":[["445d6770.9f7328"]]},{"id":"f3d861e4.9d65d","type":"inject","z":"ec095654.44ff98","name":"Hi","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":185.24999618530273,"y":497.5000581741333,"wires":[["a3ec0057.b8065"]]},{"id":"496ca80f.e0e7d8","type":"inject","z":"ec095654.44ff98","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":157.49999618530273,"y":571.0000591278076,"wires":[["a3ec0057.b8065"]]},{"id":"b2069c11.b20ac","type":"inject","z":"ec095654.44ff98","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":156.99999618530273,"y":606.7500600814819,"wires":[["a3ec0057.b8065"]]},{"id":"33060d75.4bade2","type":"link in","z":"ec095654.44ff98","name":"","links":["bcb13af1.c8b388","a3ec0057.b8065"],"x":545.9768590927124,"y":541.7593431472778,"wires":[["f153ba2.f996d48","3c4d634b.5778cc"]]},{"id":"f153ba2.f996d48","type":"debug","z":"ec095654.44ff98","name":"","active":true,"console":"false","complete":"false","x":673.4768600463867,"y":498.42602920532227,"wires":[]},{"id":"9611f754.6fad18","type":"link out","z":"ec095654.44ff98","name":"","links":["bd21c4e9.cd3288"],"x":1049.2268714904785,"y":538.592716217041,"wires":[]},{"id":"3c4d634b.5778cc","type":"watson-tone-analyzer-v3","z":"ec095654.44ff98","name":"","tones":"emotion","sentences":"false","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/528a77d3-eefe-4969-8696-b1c622defa43","x":680.7268600463867,"y":538.3426866531372,"wires":[["b40cde3c.ec312"]]},{"id":"b40cde3c.ec312","type":"function","z":"ec095654.44ff98","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":895.3101768493652,"y":539.2593431472778,"wires":[["9611f754.6fad18"]]},{"id":"a3ec0057.b8065","type":"link out","z":"ec095654.44ff98","name":"frommaninputs","links":["4ea3303.5ce80d","33060d75.4bade2"],"x":417.68119621276855,"y":541.2483568191528,"wires":[]},{"id":"b18bdf4d.248a1","type":"link out","z":"ec095654.44ff98","name":"adminout","links":["bd21c4e9.cd3288"],"x":422.69388341903687,"y":98.34547328948975,"wires":[]},{"id":"8dbf1f40.23d35","type":"comment","z":"ec095654.44ff98","name":"config","info":"","x":84.40262985229492,"y":40.50693607330322,"wires":[]},{"id":"44142cf0.fdd144","type":"comment","z":"ec095654.44ff98","name":"speech in","info":"","x":94.72688293457031,"y":220.6181297302246,"wires":[]},{"id":"2816abc4.53e2e4","type":"comment","z":"ec095654.44ff98","name":"test txt in","info":"","x":92.22687911987305,"y":458.1181936264038,"wires":[]},{"id":"79e2242c.4747fc","type":"comment","z":"ec095654.44ff98","name":"tone analyser","info":"","x":595.9768943786621,"y":455.6181697845459,"wires":[]},{"id":"eafa4976.32e2a8","type":"comment","z":"ec095654.44ff98","name":"conversations call and output","info":"","x":640.976921081543,"y":226.8681287765503,"wires":[]},{"id":"4765027b.267d8c","type":"http in","z":"dc1b417.6827bc","name":"","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["e789da7d.478538"]]},{"id":"d47b1f62.aa707","type":"template","z":"dc1b417.6827bc","name":"for admins only","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node users demo</title>\n        <style>\n            * {\n                color: #fff;\n            }\n            h1 {\n                font-size: 120px;\n                color: #fff;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body style=\"text-align: center; background: #010203;\">\n        <h1>WELCOME ADMIN !!!</h1>\n        <h2>User: {{payload.user.username}}</h2>\n        <h2>Scope: {{payload.user.scope}}</h2>\n    </body>\n</html>","x":720,"y":220,"wires":[["33265b41.3cf964"]]},{"id":"33265b41.3cf964","type":"http response","z":"dc1b417.6827bc","name":"","statusCode":"","headers":{},"x":890,"y":220,"wires":[]},{"id":"8c4766d6.a85b38","type":"template","z":"dc1b417.6827bc","name":"for allowed users only","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node users demo</title>\n        <style>\n            * {\n                color: #fff;\n            }\n            h1 {\n                font-size: 120px;\n                color: #fff;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body style=\"text-align: center; background: #010203;\">\n        <h1>LOGIN SUCCESS !!!</h1>\n        <h2>User: {{payload.user.username}}</h2>\n        <h2>Scope: {{payload.user.scope}}</h2>\n    </body>\n</html>","x":700,"y":260,"wires":[["36631112.ce830e"]]},{"id":"36631112.ce830e","type":"http response","z":"dc1b417.6827bc","name":"","statusCode":"","headers":{},"x":890,"y":260,"wires":[]},{"id":"91a35c57.7d49b","type":"switch","z":"dc1b417.6827bc","name":"check user scope","property":"payload.user.scope","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":220,"wires":[["d47b1f62.aa707"],["8c4766d6.a85b38"]]},{"id":"c21c50cb.f6804","type":"template","z":"dc1b417.6827bc","name":"custom login page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #00979C;\n  border: 1px solid #008d92;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #00979C;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #00b5bb;\n  color: #f3f5f6;\n  border-color: #00abb0;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n\n  <div class=\"login-wrapper\">\n    \n    <h1>Custom Users Login</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/demo';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n        //   default: \n        //     msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>","x":510,"y":380,"wires":[["f19dcb44.543e98"]]},{"id":"f19dcb44.543e98","type":"http response","z":"dc1b417.6827bc","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"eb9087b0.367af8","type":"comment","z":"dc1b417.6827bc","name":"User unauthorized, show login page","info":"","x":560,"y":340,"wires":[]},{"id":"7b3308c3.015f08","type":"comment","z":"dc1b417.6827bc","name":"User authorized, allow through","info":"","x":520,"y":180,"wires":[]},{"id":"e789da7d.478538","type":"users_isloggedin","z":"dc1b417.6827bc","name":"","enableCustomHandler":true,"outputs":2,"x":290,"y":280,"wires":[["91a35c57.7d49b"],["c21c50cb.f6804"]]},{"id":"60672b54.aea594","type":"debug","z":"312b2a39.1e00f6","name":"","active":true,"console":"false","complete":"false","x":1010,"y":320,"wires":[]},{"id":"12062c89.db33a3","type":"switch","z":"312b2a39.1e00f6","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[["af7ac7ed.c7c058"],["cbfde52e.437c38"]]},{"id":"97e0dbcb.6be968","type":"comment","z":"312b2a39.1e00f6","name":"Reply to the user","info":"","x":1220,"y":340,"wires":[]},{"id":"beb43276.e65b9","type":"change","z":"312b2a39.1e00f6","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["7b2bb56d.90ae1c","8e4c17cc.4e0168"]]},{"id":"fca597ab.e62f88","type":"watson-text-to-speech","z":"312b2a39.1e00f6","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"","payload-response":true,"service-endpoint":"","x":1020,"y":380,"wires":[["f853b444.f269f8"]]},{"id":"a05fe1c4.fc6a7","type":"debug","z":"312b2a39.1e00f6","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":530,"y":60,"wires":[]},{"id":"cbfde52e.437c38","type":"function","z":"312b2a39.1e00f6","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["60672b54.aea594","7b2bb56d.90ae1c","fca597ab.e62f88"]]},{"id":"8e4c17cc.4e0168","type":"watson-conversation-v1","z":"312b2a39.1e00f6","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":920,"y":100,"wires":[["82ece9c.360e318","1ab2b3a5.6019dc"]]},{"id":"82ece9c.360e318","type":"debug","z":"312b2a39.1e00f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":100,"wires":[]},{"id":"902631f.b8f08d","type":"debug","z":"312b2a39.1e00f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"797602f1.3be9bc","type":"watson-speech-to-text","z":"312b2a39.1e00f6","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":280,"y":100,"wires":[["a05fe1c4.fc6a7","beb43276.e65b9"]]},{"id":"b4d83d89.a3f04","type":"ui_template","z":"312b2a39.1e00f6","group":"c10bf1ce.8f00d","name":"Chat History","order":1,"width":10,"height":15,"format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"7b2bb56d.90ae1c","type":"function","z":"312b2a39.1e00f6","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["b4d83d89.a3f04","238b11d9.ce729e"]]},{"id":"238b11d9.ce729e","type":"debug","z":"312b2a39.1e00f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"82a283b4.81743","type":"inject","z":"312b2a39.1e00f6","name":"","topic":"Clear Chat","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["20d0d104.d156de"]]},{"id":"20d0d104.d156de","type":"change","z":"312b2a39.1e00f6","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["7b2bb56d.90ae1c"]]},{"id":"e85f6094.7266c","type":"ui_button","z":"312b2a39.1e00f6","name":"","group":"fc777818.b34018","order":6,"width":6,"height":1,"passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":200,"wires":[["20d0d104.d156de"]]},{"id":"1ab2b3a5.6019dc","type":"function","z":"312b2a39.1e00f6","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":110,"y":360,"wires":[["12062c89.db33a3"],["fca597ab.e62f88"]]},{"id":"4ded297e.b31948","type":"ui_gauge","z":"312b2a39.1e00f6","name":"","group":"fc777818.b34018","order":2,"width":3,"height":3,"gtype":"gage","title":"Total Confirmed Cases","label":"","format":"{{value}}","min":0,"max":"4000000","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1040,"y":520,"wires":[]},{"id":"10ee2890.5245a7","type":"inject","z":"312b2a39.1e00f6","name":"Hourly updates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"x":240,"y":660,"wires":[["2290129f.e6db0e"]]},{"id":"9da36d81.a2e27","type":"ui_gauge","z":"312b2a39.1e00f6","name":"","group":"fc777818.b34018","order":4,"width":3,"height":3,"gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"500000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1010,"y":580,"wires":[]},{"id":"e5f3d6d1.97b6d8","type":"ui_gauge","z":"312b2a39.1e00f6","name":"","group":"fc777818.b34018","order":1,"width":3,"height":3,"gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"250","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1020,"y":640,"wires":[]},{"id":"4015fa71.4ae464","type":"trigger","z":"312b2a39.1e00f6","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":260,"y":580,"wires":[["2290129f.e6db0e"]]},{"id":"4db679d1.5258a8","type":"ui_ui_control","z":"312b2a39.1e00f6","name":"","events":"change","x":100,"y":580,"wires":[["4015fa71.4ae464"]]},{"id":"20a2e85a.e23788","type":"comment","z":"312b2a39.1e00f6","name":"Refresh the dashboard","info":"","x":220,"y":620,"wires":[]},{"id":"19f0e86f.da7d48","type":"function","z":"312b2a39.1e00f6","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = totalConfirmedCase;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["4ded297e.b31948","902631f.b8f08d"]]},{"id":"b462128a.7b9de","type":"function","z":"312b2a39.1e00f6","name":"Total Fatalities","func":"let totalFatalities = 0;\n\nmsg.payload.covid19.deaths.map(function(line){\n    totalFatalities += line;\n});\n\nmsg.payload = totalFatalities;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[["9da36d81.a2e27"]]},{"id":"e5412691.c1d3f8","type":"function","z":"312b2a39.1e00f6","name":"Total Confirmed Countries","func":"let totalCtryConfirmed = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    if( line !== null ) {\n      totalCtryConfirmed += 1;\n    }\n});\n\nmsg.payload = totalCtryConfirmed;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["e5f3d6d1.97b6d8"]]},{"id":"bcb361db.64477","type":"debug","z":"312b2a39.1e00f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":700,"wires":[]},{"id":"2adfe2c2.834f0e","type":"function","z":"312b2a39.1e00f6","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = \"Worldwide, there have been \"+totalConfirmedCase+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":420,"wires":[["fca597ab.e62f88","6438ebe2.8e2544","7b2bb56d.90ae1c"]]},{"id":"be1e6c77.b7f89","type":"comment","z":"312b2a39.1e00f6","name":"node-red-contrib-twc-covid19-tracker","info":"","x":500,"y":580,"wires":[]},{"id":"6438ebe2.8e2544","type":"debug","z":"312b2a39.1e00f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":420,"wires":[]},{"id":"f853b444.f269f8","type":"ui_audio","z":"312b2a39.1e00f6","name":"","group":"fc777818.b34018","voice":"","always":"","x":1200,"y":380,"wires":[]},{"id":"2290129f.e6db0e","type":"twc-covid19-country-report","z":"312b2a39.1e00f6","name":"","apikey":"","x":490,"y":620,"wires":[["19f0e86f.da7d48","b462128a.7b9de","bcb361db.64477","e5412691.c1d3f8"]]},{"id":"af7ac7ed.c7c058","type":"twc-covid19-country-report","z":"312b2a39.1e00f6","name":"","apikey":"","x":490,"y":420,"wires":[["2adfe2c2.834f0e"]]},{"id":"e5721779.1b87a8","type":"ui_microphone","z":"312b2a39.1e00f6","group":"98106f1f.66b66","order":5,"width":0,"height":0,"name":"","maxLength":3,"timeslice":0,"x":90,"y":100,"wires":[["797602f1.3be9bc"]]}]