Maps and Inventory Supplier/flows.json
[{"id":"e20d81e0.0ce86","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":false,"info":""},{"id":"6e75b84.d75a048","type":"debug","z":"e20d81e0.0ce86","name":"","active":true,"console":"false","complete":"false","x":1010,"y":320,"wires":[]},{"id":"8476765c.746bc8","type":"switch","z":"e20d81e0.0ce86","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[["7bd039b.09828c8"],["260dd4d.9b7a52c"]]},{"id":"44cd1f8d.74195","type":"comment","z":"e20d81e0.0ce86","name":"Reply to the user","info":"","x":1220,"y":340,"wires":[]},{"id":"84154e89.d878d","type":"change","z":"e20d81e0.0ce86","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["d73571b2.3c17b","a410190d.820268"]]},{"id":"84cdbe88.a651c","type":"watson-text-to-speech","z":"e20d81e0.0ce86","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"cT5miDqmNJMXLSSvOuAYl1AZmLXHQ0aEUXMLhY452FKd","payload-response":true,"service-endpoint":"","x":1020,"y":380,"wires":[["f7dace04.de5f5"]]},{"id":"20e3dc41.557434","type":"debug","z":"e20d81e0.0ce86","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":530,"y":60,"wires":[]},{"id":"260dd4d.9b7a52c","type":"function","z":"e20d81e0.0ce86","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["6e75b84.d75a048","d73571b2.3c17b","84cdbe88.a651c"]]},{"id":"a410190d.820268","type":"watson-conversation-v1","z":"e20d81e0.0ce86","name":"","workspaceid":"0f2931ce-bc01-4371-b482-8242bed39a21","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://eu-gb.functions.cloud.ibm.com/api/v1/web/swananya2008%40gmail.com_dev/default/discovery-covid","timeout":"","optout-learning":false,"x":920,"y":100,"wires":[["edcae497.871c98","3da8ebc2.27a1a4"]]},{"id":"edcae497.871c98","type":"debug","z":"e20d81e0.0ce86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":100,"wires":[]},{"id":"6cb82c4b.5931d4","type":"debug","z":"e20d81e0.0ce86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"e1d094c1.6268d8","type":"watson-speech-to-text","z":"e20d81e0.0ce86","name":"","alternatives":1,"speakerlabels":false,"smartformatting":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.1","word-confidence":true,"password":"","apikey":"_fvaYJchRdQ-3Qz030OsW4G0XdLk-_bYfEFlpX8Wo1Px","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":280,"y":100,"wires":[["20e3dc41.557434","84154e89.d878d"]]},{"id":"efec44c5.198938","type":"ui_template","z":"e20d81e0.0ce86","group":"d8b3240a.65ff58","name":"Chat History","order":1,"width":10,"height":15,"format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"d73571b2.3c17b","type":"function","z":"e20d81e0.0ce86","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["efec44c5.198938","540110da.5c72d"]]},{"id":"540110da.5c72d","type":"debug","z":"e20d81e0.0ce86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"d88924b7.a17f78","type":"inject","z":"e20d81e0.0ce86","name":"","topic":"Clear Chat","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["81adac1a.ca0e5"]]},{"id":"81adac1a.ca0e5","type":"change","z":"e20d81e0.0ce86","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["d73571b2.3c17b"]]},{"id":"5cb78c0b.c99894","type":"ui_button","z":"e20d81e0.0ce86","name":"","group":"686510a6.4eeb2","order":6,"width":6,"height":1,"passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":200,"wires":[["81adac1a.ca0e5"]]},{"id":"3da8ebc2.27a1a4","type":"function","z":"e20d81e0.0ce86","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":110,"y":360,"wires":[["8476765c.746bc8"],["84cdbe88.a651c"]]},{"id":"870e95cc.9c7668","type":"ui_gauge","z":"e20d81e0.0ce86","name":"","group":"686510a6.4eeb2","order":2,"width":3,"height":3,"gtype":"gage","title":"Total Confirmed Cases","label":"","format":"{{value}}","min":0,"max":"6000000","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1040,"y":520,"wires":[]},{"id":"4d6549f0.396fd8","type":"inject","z":"e20d81e0.0ce86","name":"Hourly updates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"x":240,"y":660,"wires":[["5fc41a64.12b894"]]},{"id":"794a3966.c9b688","type":"ui_gauge","z":"e20d81e0.0ce86","name":"","group":"686510a6.4eeb2","order":4,"width":3,"height":3,"gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"500000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1010,"y":580,"wires":[]},{"id":"9fa1e757.7d79b8","type":"ui_gauge","z":"e20d81e0.0ce86","name":"","group":"686510a6.4eeb2","order":1,"width":3,"height":3,"gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"250","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1020,"y":640,"wires":[]},{"id":"941e04e6.5734f8","type":"trigger","z":"e20d81e0.0ce86","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":260,"y":580,"wires":[["5fc41a64.12b894"]]},{"id":"4967d086.6705c","type":"ui_ui_control","z":"e20d81e0.0ce86","name":"","events":"change","x":100,"y":580,"wires":[["941e04e6.5734f8"]]},{"id":"2c4bef19.6476e","type":"comment","z":"e20d81e0.0ce86","name":"Refresh the dashboard","info":"","x":220,"y":620,"wires":[]},{"id":"5fc41a64.12b894","type":"twc-covid19-country-report","z":"e20d81e0.0ce86","name":"","apikey":"95af6a1a.184578","x":490,"y":620,"wires":[["66a7fa2a.e9c504","a8abb323.e7f3d","e13de772.d6e258","f0ca687d.9bc248"]]},{"id":"66a7fa2a.e9c504","type":"function","z":"e20d81e0.0ce86","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = totalConfirmedCase;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["870e95cc.9c7668","6cb82c4b.5931d4"]]},{"id":"a8abb323.e7f3d","type":"function","z":"e20d81e0.0ce86","name":"Total Fatalities","func":"let totalFatalities = 0;\n\nmsg.payload.covid19.deaths.map(function(line){\n    totalFatalities += line;\n});\n\nmsg.payload = totalFatalities;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[["794a3966.c9b688"]]},{"id":"f0ca687d.9bc248","type":"function","z":"e20d81e0.0ce86","name":"Total Confirmed Countries","func":"let totalCtryConfirmed = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    if( line !== null ) {\n      totalCtryConfirmed += 1;\n    }\n});\n\nmsg.payload = totalCtryConfirmed;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["9fa1e757.7d79b8"]]},{"id":"e13de772.d6e258","type":"debug","z":"e20d81e0.0ce86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":700,"wires":[]},{"id":"2b881e75.d3ab52","type":"ui_microphone","z":"e20d81e0.0ce86","group":"686510a6.4eeb2","order":5,"width":0,"height":0,"name":"","maxLength":"8","timeslice":0,"x":90,"y":100,"wires":[["e1d094c1.6268d8"]]},{"id":"7bd039b.09828c8","type":"twc-covid19-country-report","z":"e20d81e0.0ce86","name":"","apikey":"a0b1aea5.b036c","x":490,"y":420,"wires":[["65de1094.7058b"]]},{"id":"65de1094.7058b","type":"function","z":"e20d81e0.0ce86","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = \"Worldwide, there have been \"+totalConfirmedCase+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":420,"wires":[["84cdbe88.a651c","ff58c520.dfc528","d73571b2.3c17b"]]},{"id":"ae96cd2.09b473","type":"comment","z":"e20d81e0.0ce86","name":"node-red-contrib-twc-covid19-tracker","info":"","x":500,"y":580,"wires":[]},{"id":"ff58c520.dfc528","type":"debug","z":"e20d81e0.0ce86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":420,"wires":[]},{"id":"f7dace04.de5f5","type":"ui_audio","z":"e20d81e0.0ce86","name":"","group":"686510a6.4eeb2","voice":"","always":"","x":1200,"y":380,"wires":[]},{"id":"d8b3240a.65ff58","type":"ui_group","z":"","name":"Chat","tab":"af6d083f.c75cb8","order":2,"disp":true,"width":"10","collapse":false},{"id":"686510a6.4eeb2","type":"ui_group","z":"","name":"Record","tab":"af6d083f.c75cb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"95af6a1a.184578","type":"covapikey","z":"","name":""},{"id":"a0b1aea5.b036c","type":"covapikey","z":"","name":""},{"id":"af6d083f.c75cb8","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","order":1,"disabled":false,"hidden":false}]